*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(65, 84, 94);
    /* text-align: center; */
}

.wrapper{
    background-color: white;
    text-align: center;
}

svg{
    border: 1px solid black;
    margin: 20px;
    /* padding: 10px; */
}

rect{
    fill: rgb(0, 140, 255);
}
rect:hover{
    fill: rgb(155, 209, 252);
}