*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(65, 84, 94);
    /* text-align: center; */
}

.wrapper{
    background-color: white;
    text-align: center;
}

svg{
    border: 1px solid black;
    margin: 20px;
    /* padding: 10px; */
}

rect{
    fill: rgb(0, 140, 255);
}
rect:hover{
    fill: rgb(155, 209, 252);
}

.tooltip{
    position: absolute;
    z-index: 1;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: rgba(242, 235, 235, 0.868);
    border-radius: 10px;
    transition: 100ms;
}

.tooltip p{
    margin: 0;
}