*{
    box-sizing: border-box;
    
}


body {
    --current-color: #16a085;
    background-color: var(--current-color);
    transition: 2s;
  }

  .quote-box {
    position: absolute;
    top: 35vh;
    left: 30vw;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: white;
    min-width: 40vw;
    max-width: 45vw;
    height: auto;
    margin: auto;
    color: var(--current-color);
    z-index: 1;
  }

  .quote {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .writer-name {
    text-align: end;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: 200;
    /* opacity: -1; */
  }

  .writer-name::before {
    content: '- ';
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-top: 4vh;
  }

  .twitter-button{
    color: var(--current-color);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 10px;
  }
  .new-quote-button{
    background: var(--current-color);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 10px;
    border: none;
  }

  .button:hover{
    opacity: 0.9;
  }

  a{
    text-decoration: none;
  }