* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

nav {
  display: block;
  position: fixed;
  max-width: 3 50px;
  height: 100%;
  border-right: 2px solid gray;
  background-color: rgb(243, 243, 243);
  /* padding: 10px; */
}
nav header {
  font-size: 30px;
  font-weight: 450;
  padding: 10px 20px;
  padding-top: 30px;
  margin-bottom: 10px;
}
nav a {
  display: block;
  font-size: 17px;
  font-weight: 0;
  padding: 11px 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.771);
  border-top: 1px solid gray;
}
nav a:hover {
  display: block;
  font-size: 17px;
  font-weight: 0;
  padding: 11px 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.771);
  border-top: 1px solid gray;
  background-color: rgb(224, 222, 222);
  transition: 300ms;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 30px;
  color: rgba(0, 0, 0, 0.771);
}

section {
  margin-bottom: 20px;
}

section header {
  color: black;
  font-size: 30px;
  font-weight: 450;
}

.description {
  margin: 20px;
  font-size: 15px;
  line-height: 25px;
}

ul li {
  margin-top: 10px;
  margin-left: 10px;
}

code {
  font-family: monospace;
  font-size: 13px;
  display: block;
  max-width: 1000px;
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

@media (max-width: 500px) {
  nav {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
  }
  #main-doc {
    margin: 0;
  }
}
